/* Global Styles */
body {
    background-color: #00cfd4;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#container {
    background-color: #00e304;
}

/* Mobile Styles */
@media (min-width: 320px) {
    nav {
        background-color: #ff8d00;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        display: block;
    }

    nav li a {
        display: block;
        height: 30px;
        background-color: #6b2995;
        color: #000;
        font-size: 24px;
        text-decoration: none;
        margin-top: 5px;
    }

    nav li a:hover {
        background-color: #ff8d00;
    }

    main {
        padding: 25px;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        color: #ff8d00;
        text-shadow: 1px 1px 1px #000;
    }

    footer {
        text-align: center;
        padding: 40px;
        color: #ff8d00;
        text-shadow: 1px 1px 1px #000;
    }

    hr {
        height: 8px;
        border: none;
        background: linear-gradient(to right, #a05909, #00cfd4);
    }
}

/* Tablet Styles */
@media (min-width: 768px) {
    nav li {
        display: inline-block;
    }

    nav li a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin: 5px;
    }

    .movie_post {
        width: 50%;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        border: 8px solid #a05909;
        border-radius: 20px;
        padding: 20px;
    }

    nav {
        padding: 0;
        margin: 0;
    }

    nav li a {
        background-color: #ff8d00;
        color: #000;
        text-decoration: none;
    }

    nav li a:hover {
        background-color: #6b2995;
        color: #000000;
    }

    hr {
        display: none;
    }

    main {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    #col1,
    #col2,
    #col3 {
        width: 48%;
        border: 2px solid #F58931;
        margin: 0 10px;
        padding: 20px;
        background-color: #00e304;
    }

    .movie_post {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 20px auto;
    }
}

#multi_col {
    display: flex;
}

.col {
    margin: 20px;
    padding: 20px;
    border: 2px solid #F58931;
}